<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>net.r0ml.keyboardlayout.apl</string>
	<key>CFBundleName</key>
	<string>APL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>KLInfo_APL</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>net.r0ml.keyboardlayout.apl.apl</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
